html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    background: linear-gradient(301deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5)),url('../images/banner.png');
    background-size: cover;
    min-height: 85vh;
    width: 90%;
    
}

.doctor-sub-list{
    display: grid;
    grid-template-columns: 3;
}
