{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock title %} 
{% block content %}

<header class="banner container-fluid">
  <div class="search">
    <form action="" method="get">
      <input type="text" name="q" id="" placeholder="Search Doctor, Hospital, Clinic, Labs, Medicines..."> 
      <input type="submit" value="Search">
    </form>

    
  </div>
</header>

<div class="container">

<div class="doctors my-5">
  <div class="first-doctors-row d-flex justify-content-between">
    <div class="left-doctors-row ms-4">
      <h2 class="fw-bold">Consult with doctors</h2>
      <p>Talk to a doctor regarding your health issue.</p>
    </div>
    <div class="right-doctors-row me-5">
      <a class="btn btn-primary rounded-pill px-3" href="{% url 'homepage:doctors' %}">View all</a>
    </div>
  </div>

  <div class="doctor-list mt-5">
    <div class="row doctor-sub-list">
      {% for doctor in doctors %}
        
      <div class="col-md-6 my-3">
        <div class="doctor border py-3">
          <div
            class="doctor-row d-flex justify-content-around align-items-center"
          >
            <div class="doctor-img">
              <img src="{{doctor.doctor_more.image.url}}" alt="{{doctor.username}}" />
            </div>
            <div class="doctor-info">
              <h4 class="fw-bold text-primary">Dr. {{doctor.get_full_name|title}}</h4>
              {% if doctor.doctor_more.short_bio %}
              <p>{{doctor.doctor_more.short_bio}}</p>
              {% endif %}
            </div>
          </div>
          <div class="text-center mt-3">
            <a href="{% url 'appointment:book_appointment' doctor.id %}" class="btn btn-outline-success">Book Appointment</a>
            </div>
        </div>
      </div>
      
      {% endfor %}


      
    </div>
  </div>

  <div class="hospital-list mt-5">
    <h2 class="fw-bold mb-3">Hospitals</h2>
    <hr>
    <div class="row hospital-sub-list tex-center">
      {% for hospital in hospitals %}
        
      <div class="col-md-6 hospital my-3 text-center">
        <div class="card my-4" style="width: 18rem; margin: 0 auto;">
          {% if hospital.image %}
          <img class="card-img-top" src="{{hospital.image.url}}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"><strong>{{hospital.name|title}}</strong></h5>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{hospital.location|title}}, {{hospital.city|title}}</p>
            <a href="{% url 'hospital:hospital_detail' hospital.pk %}" class="btn btn-primary">View details</a>
          </div>
        </div>
      </div>
      
      {% endfor %}


      
    </div>
  </div>

</div>
</div>

{% endblock content %}
